@import "tailwindcss";

@theme {
/* Colors */
--color-primary: #1a2a4e;
--color-secondary: #e53e3e;
--color-alpha: #fcc419;

/* Fonts */
--font-montserrat: var(--font-montserrat);
--font-comfortaa: var(--font-comfortaa);

/* Breakpoints */
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px;
--breakpoint-2xl: 1400px;
}



@utility container {
margin-inline: auto;
padding-inline: 1rem;
}


@theme {
  --animate-float: float 3s ease-in-out infinite;

  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }
  }
}